# Виртуальное окружение
venv/
env/

# Файлы Python
__pycache__/
*.pyc

# Настройки IDE
.vscode/
.idea/

# Системные файлы
.DS_Store

# Пароли и секреты
.env
secrets/
config/local_config.py
config/production_config.py
config/clickhouse_config.py