name: Развертывание

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Загрузить код
      uses: actions/checkout@v3
    
    - name: Настроить SSH
      uses: webfactory/ssh-agent@v0.5.4
      with:
        ssh-private-key: ${{ secrets.SSH_KEY }}
    
    - name: Копировать файлы на сервер
      run: |
        rsync -avz --delete \
          --exclude '.git' \
          --exclude '.github' \
          ./ admin1@10.7.0.30:/home/admin1/warehouse/Dashboard/
