# Было:
        rsync -avz --delete \
          --exclude '.git' \
          --exclude '.github' \
          ./ user@ваш-сервер:/путь/к/проекту/

# Стало:
        rsync -avz --delete \
          --exclude '.git' \
          --exclude '.github' \
          ./ admin1@10.7.0.30:/home/admin1/warehouse/Dashboard/
